*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 880px;
    height: 300px;
    position: relative;
    border: 5px solid black;
    margin: auto;

    /* background: url(map.png);
    background-repeat: no-repeat; */
}


#background{
    /* background-image: url("map.png"); */
    /* width: 800px;
    height: 360px; */
    border: solid; 
    color: green; 
    
    width: 1500px;
    height: 300px;
   
    position: absolute;
    animation: sway 0.5s infinite linear;
}

@keyframes sway{
    0%{left: 0px}
    100%{left: -380px}
}





/* TAILS */

#characterTwo{
    width: 90px;
    height: 100px;
    position:absolute;
    animation: fly 8s infinite linear;
    
}


@keyframes fly{
    
    20% {top: 0px;}
    40% {top: 90px;}
    50% {top: 60px;}
    70% {top: 50px;}
    100% {top: 0px;}
    10% {left: 0px;}
    20% {left: 30px;}
    40% {left: 50px;}
    100% {left: 0px;}
  
}



 /* SONIC */
#character{
    width: 90px;
    height: 100px;
    position:relative;
    left: 150px; 
    top: 150px;
    
    
}

.animate{

    /* animation: run 1s infinite linear ; */
    animation: jump 0.3s infinite linear;
    
}

@keyframes jump{
    0%{top: 140px;}
    70%{top: 20px;}
    100%{top: 140px;}

}







/* BUG */
#block{

    width: 60px;
    height: 60px;
    position: relative;
    top: 140px;
    /* left: 20px; */
   
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 900px}
    100%{left: -250px}
}
p{
    text-align: center;
}
