*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 900px;
    height: 370px;
    border: 5px solid black;
    margin: auto;

    /* background: url(map.png);
    background-repeat: no-repeat; */
}

#background{
    background: url(map.png);
    
    animation: move 0.3s linear;
}

@keyframes move{
    0%{left: 900px}
    100%{left: -200px}
}


/* TAILS */

#characterTwo{
    width: 90px;
    height: 100px;
    position:relative;
    animation: fly 2s infinite;
}


@keyframes fly{
    50% {top: 10px;}
}



 /* SONIC */
#character{
    width: 90px;
    height: 100px;
    position:relative;
    left: 50px; 
    top: 200px;
}

.animate{
    animation: jump 0.3s infinite linear;
}
@keyframes jump{
    0%{top: 140px;}
    70%{top: 20px;}
    100%{top: 140px;}
}




/* BUG */
#block{

    width: 60px;
    height: 60px;
    position: relative;
    top: 190px;
    /* left: 20px; */
    /* border: solid;  */
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 900px}
    100%{left: -250px}
}
p{
    text-align: center;
}
