*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 900px;
    height: 370px;
    border: 5px solid black;
    margin: auto;

    background: url(map.png);
    background-repeat: no-repeat;
}


 /* SONIC */
#character{
    width: 90px;
    height: 100px;
    position:relative;
    top: 200px;
}

.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 140px;}
    70%{top: 20px;}
    100%{top: 140px;}
}



/* TAILS */

/* #characterTwo{
    width: 90px;
    height: 100px;
    position:relative;
    top: 20px;
    animation: fly 5s infinite;
    border: solid; 
}


@keyframes fly{
   
    from {top: 0px;}
    to {top: 20px;}

} */


/* BUG */
#block{

    width: 60px;
    height: 60px;
    position: relative;
    top: 190px;
    /* left: 20px; */
    /* border: solid;  */
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 900px}
    100%{left: -200px}
}
p{
    text-align: center;
}
